.input{
    width: 900px;
    height: 200px;
    text-align: center;
    margin:10px auto;
    border:1px solid black;
}
.trans{
    height: auto;
    width: 900px;
    text-align: center;
    margin:10px auto;
    border:1px solid black;
}
.inputnum{
    margin-top: 20px;
    width: 152px;
    height: 24px;
}
h1,
h2{
    width: 220px;
    height: 50px;
    text-align: center;
    margin:10px auto;
    letter-spacing: 3px;
      }
      table{
        margin-top: 20px;
        width: 100%;
        border-collapse: collapse;
        text-align: left;
        overflow: hidden;
      }
      th{
        height: 30px;
        background-color: #3f39df;
      }
      tr:nth-of-type(even) td{
        background-color: lighten(#4ECDC4, 35%);
      }
      
      .green {
        --btn-border: #4caf50;
        --btn-bg:#4caf50;
        --btn-clr:#fff;
    }
    .red {
        --btn-border: #f44336;
        --btn-bg:#f44336;
        --btn-clr:#fff;
    }
    .green:hover {
      --btn-border: #138317;
      --btn-bg:#138317;
     transition: all linear 200ms;
   }
   .red:hover {
    --btn-border: #c22418;
    --btn-bg:#c22418;   
   transition: all linear 200ms;
   }
    .btn{
      padding:5px 10px;
      margin:10px;
      border:  1px solid var(--btn-border);
     background-color: var(--btn-bg);
     color: var(--btn-clr);
     border-radius: 4px;
     cursor: pointer;
     transition: all linear 200ms;
    }
